.loader {
  width: 50px;
  height: 50px;
  border: 30px solid #8595b0;
  border-top: 30px solid #084c19;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  transform-origin: 10% 10%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#background {
  background-color: #f0f0f0;
  background-image: url('./assets/europe-blank-map-hd.jpg');
  background-size: cover;
  background-position: center;
  position: fixed;
  border: 2px solid #084c19;
  width: 98%;
  height: 98%;
  z-index: -1;
}

#map_container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}
.polyline-label {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* White background with 70% opacity */
  border: 1px solid black;
  padding: 2px;
  font-size: 12px;
}
